:root {
  --white: #f2f2f2;
  --darkgreen: #2a3c29;
  --lightgreen: #466344;
  --yellow: #ad9b7f;
  --brown: #957777;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Italic Helvetica;
  background-color: var(--darkgreen);
}
.title-line {
  border: 1px solid var(--brown);
  margin: 2%;
}
.heading {
  margin-top: 1%;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  position: inherit;
  color: var(--white);
  font-family: "Apple Chancery";
}

.individual-title {
  margin-top: 1%;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  position: inherit;
  color: var(--white);
  font-family: "Apple Chancery";

}

.category-header {
  text-align: center;
  color: var(--white);
  font-size: 140%;
}



/* div on all of the items */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* inside the item - all content for each item */
.list {
  display: flex;
  flex-direction: row;
  border: 6px solid var(--yellow);
  width: 25rem;
  height: 25rem;
  margin: 2em 1em;
  display: inline-block;
  text-align: center;
  padding: 1.5rem;
  border-radius: 5%;
  background-color: var(--white);
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  height: 50%;
  border-radius: 3%;
}

.individual-img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;

}

.item-line {
  border: 1.1px solid var(--brown);
  margin-top: 5%;
}

.item-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--lightgreen);
  text-align: center;
  padding: 3%;
  background-color: var(--white);
}

.item-description {
  font-size: xx-small;
  font-style: italic;
  padding: 2%;
  background-color: var(--white);
}

.item-price {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  padding: 3%;
  background-color: var(--white);
}

.item-category {
  font-size: small;
  text-align: center;
  background-color: var(--white);
  font-style: italic;
}

.nav {
  background-color: var(--darkgreen);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 1rem;
  margin: auto;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  display: inline;
}

a {
  display: block;
  padding: 8px;
}

/* the text itself */
.nav a {
  color: white;
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bold;
}

li a:hover {
  background-color: var(--brown);
}

.item-div-line {
  border: 1.1px solid var(--brown);
  margin: auto;
  margin-top: 1.5%;
  margin-bottom: 1%;
  width: 30%;
  align-self: center;
}

.item-div-line2 {
  border: 1.1px solid var(--brown);
  margin: auto;
  margin-top: 1%;
  width: 90%;
  align-self: center;
}

.main-button {
  border: 2px solid var(--brown);
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 4%;
  background-color: var(--lightgreen);
  color: var(--white);
  padding: 1%;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}



.edit-button {
    border: 2px solid var(--brown);
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom: 4%;
    background-color: var(--lightgreen);
    color: var(--white);
    padding: 1%;
    padding-right: 130%;
    padding-left: 50%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  
}

.delete-button {
    border: 2px solid var(--brown);
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom: 4%;
    background-color: var(--lightgreen);
    color: var(--white);
    padding: 1%;
    padding-left: 20%;
    padding-right: 120%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  
}

.button-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  
}

.individual-flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.text-flex {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 10%;
  margin-top: 2%;
  border-radius: 8px;
  
}

.descriptive-text1 {
  color: var(--white);
  font-size: 1.5em;
  background: #ad9b7f;
  padding: 10%;
  margin-bottom: -10%;
  
}
.descriptive-text2 {
  color: var(--white);
  font-size: 1.5em;
  background: #ad9b7f;
  padding: 10%;
  
  
}

.p-div1 {
margin-bottom: 2%;
padding-bottom: 5%;

}

.single-view {
  color: var(--darkgreen);
}

.single-view:hover {
  color: var(--yellow);
}

.single-view:visited {
  color: var(--darkgreen);
}

.form-wrapper {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  color: var(--white);
}
